# Set default behavior to automatic text conversion with LF line endings.
* text=auto eol=lf

# Force specific text file formats to use LF line endings
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
*.gitignore text eol=lf

# Keep binary files untouched
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.db binary
*.ico binary
